body {
    background-color: rgb(2, 41, 2); /* Set background color to forest green */
    color: rgb(230, 223, 223); /* Set text color to cream */
    text-align: center; /* Center align all text */
    font-family: Arial, sans-serif; /* Set font family */
}

/* Style for headings */
h1, h2, h3 {
    margin: 20px 0; /* Add some margin around headings */
}

/* Style for images */
img {
    display: block; /* Make image a block element */
    margin: 0 auto; /* Center align image */
    max-width: 100%; /* Ensure image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
}

/* Style for paragraphs */
p {
    margin: 20px 0; /* Add some margin around paragraphs */
}
/* Navbar styles */
.navbar {
    background-color: rgb(7, 10, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: cream;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.nav-links li {
    display: inline;
    color: white;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Content styles */
.content {
    text-align: center;
    padding: 20px;
}

/* about page style */

  .officers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .officer-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .officer-card h3 {
    margin-top: 0;
    margin-bottom: 0.5em; /* Adjust the margin as needed */
    color: #333;
    height: 3em; /* Set a fixed height for all h3 elements */
  }
  .officer-card p {
    color: #666;
    font-size: 0.9em;
  }
  .initials-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 0 auto 1em; /* Add space below the circle */
    color: #555;
  }
  .full-roster {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Add flex-grow to push the name to the bottom */
  .officer-card .title-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  